@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 style="padding-bottom:8%; padding-top:15px" class="display-4">Inventory Add</h1>
    <div style="margin-inline:24%">
        <div class="mb-2 row">
            <label class="col-sm-2 col-form-label text-end">Name of the Item:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" autofocus>
            </div>
        </div>
        <div class="mb-2 row">
            <label class="col-sm-2 col-form-label text-end">Type of the Item:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputType">
            </div>
        </div>
        <div class="mb-2 row">
            <label class="col-sm-2 col-form-label text-end">Purchase Date:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="YYYY/MM/DD" id="inputPassword">
            </div>
        </div>
        <div class="mb-2 row">
            <label class="col-sm-2 col-form-label text-end">Price:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPrice">
            </div>
        </div>
        <div>
            <a class="btn btn-success" style="color:white; text-decoration:none" asp-area="" asp-controller="Inventory" asp-action="InventoryPage">Save Item</a>
        </div>
    </div>
</div>
