@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Inventory Management System</h1>
    <p>To see the Inventory list please login or register!</p>
</div>

